<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vishrut.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".MapsActivity" />
        </activity>
        <activity android:name=".SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Provides search suggestions for words and their definitions. -->
        <provider
            android:name=".LocationInfoProvider"
            android:authorities="com.example.vishrut.myapplication.LocationInfoProvider" />

        <activity
            android:name=".LocationPanelActivity"
            android:label="@string/title_activity_location_panel">
        </activity>
        <activity android:name=".ListCheckedInLocationsActivity"></activity>
        <activity android:name=".AskNewQuestionActivity"></activity>
        <activity android:name=".ListQuestionsActivity" />
        <activity android:name=".ListQuestionsActivity2" />
        <activity
            android:name=".ListAnswerablesActivity"
            android:label="@string/title_activity_list_answerables">
        </activity>
        <activity
            android:name=".ListAnswersActivity"
            android:label="@string/title_activity_list_answers">
        </activity>
        <activity
            android:name=".ListAnswersActivity2"
            android:label="@string/title_activity_list_answers"></activity>
        <activity
            android:name=".NewAnswerActivity"
            android:label="@string/title_activity_new_answer"></activity>
    </application>

</manifest>
